{% extends 'default.html' %}

{% block content %}
    <div class="content-box">
        <div class="specialization-container">
            <div class="info-container">
                <h1 class="title">Dentistry</h1>
                <p class="large-font">Our experienced dentists offer a wide range of dental services, from routine check-ups to advanced dental procedures. Your oral health is our priority, and we are dedicated to providing personalized and effective dental care.</p>
                <a class="small-font" href="{{ url_for('setup_appointment') }}">Schedule your dental appointment today for a healthy and confident smile.</a>
            </div>
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/dentistry.png') }}" alt="Dentistry Image">
            </div>
        </div>
    </div>
{% endblock %}