{% extends 'default.html' %}

{% block content %}
    <div class="content-box">
        <h1 class="title">Dermatology</h1>
        <p class="large-font">We have dermatology department have the most experienced doctors that will help you with any sort of skin dieases. We provide routine check-ups to advance dermatology procedures.</p>
        <p class="small-font">Schedule your dermatology appointment today for a healthy and shining skin.</p>
        <img src="{{ url_for('styles', filename='images/dermatologist.png') }}" alt="Dermatology Image">
    </div>
{% endblock %}