{% extends 'default.html' %}

{% block content %}
    <div class="content-box">
        <div class="specialization-container">
            <div class="info-container">
                <h1 class="title">Endocrinology</h1>
                <p class="large-font">An endocrinologist is responsible for evaluating diabetes, bone loss, and a range of hormonal issues, including hormones from pituitary-adrenal, and thyroid glands as well as reproductive organs.</p>
                <p class="small-font">Schedule your dermatology appointment today to know why your body is the way it is and find an answer with us.</p>
                <p class="small-font">Schedule your dermatology appointment today for a healthy and happy mind.</p>
            </div>
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/endocrinology.jpg') }}" alt="Endocrinology Image">
            </div>
        </div>
    </div>
{% endblock %}
