{% extends 'default.html' %}

{% block content %}
    <div class="content-box">
        <h1 class="title">Endocrinology</h1>
        <p class="large-font">An endocrinologist is responsible for evaluating diabetes, bone loss, and a range of hormonal issues, including hormones from pituitary adrenal, and throid glands as well as reporductive organs.</p>
        <p class="small-font">Schedule your dermatology appointment today to know why your body is the way it is and find an answer with us.</p>
        <img src="{{ url_for('styles', filename='images/endocrinology.png') }}" alt="Endocrinology Image">    </div>
{% endblock %}