{% extends 'default.html' %}

{% block content %}
    <div class="content-box">
        <div class="specialization-container">
            <div class="info-container">
                <h1 class="title">General Medicine</h1>
                <p class="large-font">Our Doctors in the general medicine department will be there to attend to your needs. These doctors are there to listen to every ailment you may have in your body. Be it a small headache to chronic illnesses.</p>
                <p class="small-font">Schedule your dermatology appointment today for a healthy and strong body.</p>        
            </div>
            <div class="image-container">
                <img src="{{ url_for('static', filename='images/general-medicine.jpg') }}" alt="General Medicine Image">
            </div>
        </div>
    </div>
{% endblock %}
