{% extends 'default.html' %}

{% block content %}
    <div class="content-box">
        <h1 class="title">Physiotherapy</h1>
        <p class="large-font">Our Physiotherapists are one of the best in the country, who have the experience and skills to bring you back to full health.</p>
        <p class="small-font">Schedule your dermatology appointment today for a restored and healthy body.</p>
        <img src="{{ url_for('styles', filename='images/physiotherapy.png') }}" alt="Physiotherapy Image">
    </div>
{% endblock %}