{% extends 'default.html' %}

{% block content %}
    <div class="about-content">
        <h1>About Health Haven</h1>
        <p>Welcome to Health-Haven! Your Health, Our Priority.</p>

        <p>At Health-Haven, we understand the importance of convenient access to medical care, especially in today's fast-paced world. Our platform is designed to provide you with comprehensive healthcare solutions right at your fingertips.</p>

        <h2>What We Offer:</h2>
        <ul>
            <li><strong>Convenient Access:</strong> Access medical help from the comfort of your home, workplace, or anywhere else.</li>
            <li><strong>Expert Consultations:</strong> Register an account to access a diverse network of doctors specializing in various fields, including Counselling, General Medicine, Endocrinology, Physiotherapy, and more.</li>
            <li><strong>Personalized Care:</strong> Choose the specific department you want to consult with, ensuring tailored and specialized care to meet your unique needs.</li>
            <li><strong>Further Consultations:</strong> Explore options to visit the nearest hospital for additional check-ups or specialized treatments, ensuring continuity of care and comprehensive medical support.</li>
        </ul>
    </div>
{% endblock %}
