{% extends 'default.html' %}
{% block content%}
    <h1>about</h1>
    <p>Welcome to Health-Haven! Your Health, Our Priority.

        At Health-Haven, we understand the importance of convenient access to medical care,
        especially in today's fast-paced world.
        Our platform is designed to provide you with comprehensive healthcare solutions right at your fingertips.

        What We Offer:

        Convenient Access: Access medical help from the comfort of your home, workplace, or anywhere else.

        Expert Consultations: Register an account to access a diverse network of doctors specializing in various fields, including Counselling, General Medicine, Endocrinology, Physiotherapy, and more.

        Personalized Care: Choose the specific department you want to consult with, ensuring tailored and specialized care to meet your unique needs.

        Further Consultations: Explore options to visit the nearest hospital for additional check-ups or specialized treatments, ensuring continuity of care and comprehensive medical support.
    </p>
{% endblock %}