<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles/nav.css">
    <link rel="stylesheet" href="../styles/content.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>Health Haven - {{ title }}</title>
    {% else %}
        <title>Health Haven</title>
    {% endif %}
    <header>
        <nav class="nav">
            <a href="/" class="nav-item">Health Haven</a>
            <div class="nav-bio">
                <a href="{{ url_for('home') }}" class="nav-item">Home</a>
                <a href="{{ url_for('about') }}" class="nav-item">About</a>
            </div>
            <div class="nav-reg">
                <a href="{{ url_for('login') }}" class="nav-item">Login</a>
                <a href="{{ url_for('register') }}" class="nav-item">Register</a>
            </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </header>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>