{% extends 'default.html' %}

{% block content %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Haven</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../styles/content.css') }}">

    <div class="container">
        <div class="slides slide1">
            <div class="text-container">
                <h1 style="font-weight: bold;">Your Health, Our Priority</h1>
                <p>
                    <span style="color: #333; font-family: 'Dancing Script', cursive; font-size: 28px; font-weight: bold;">
                    Our main goal is to give you a comfortable platform with choices.
                    We also use expert knowledge and skills to diagnose and treat patients while retaining ultimate clinical responsibility for their care. Health-Haven is here for you!
                    </span>
                </p>
            </div>
            <div class="know-more">
                <a href="{{ url_for('about') }}" class="know-more-link">Know more</a>
            </div>
        </div>
        <div class="slides slide2">
            <h2>The Departments Available.</h2>
        <p>
            <span style="color: #333; font-family: 'Dancing Script', cursive; font-size: 28px; font-weight: bold;">
                We offer a wide range of health care facilities
            </span>
        </p>
        <div class="department-icons">
            <div class="department-icon">
                <img src="{{ url_for('static', filename='images/generalMed-icon.jpg') }}" alt="Department 1">
            </div>
            <div class="department-icon">
                <img src="{{ url_for('static', filename='images/physiotherapy-icon.jpg') }}">
            </div>
            <div class="department-icon">
                <img src="{{ url_for('static', filename='images/dermatology-icon.jpg') }}">
            </div>
            <div class="department-icon">
                <img src="{{ url_for('static', filename='images/endocrinology-icon.jpg') }}">
            </div>
            <div class="department-icon">
                <img src="{{ url_for('static', filename='images/consel-icon.png') }}">
            </div>
            <div class="department-icon">
                <img src="{{ url_for('static', filename='images/dental-icon.jpg') }}">
            </div>

        </div>
    </div>

{% endblock %}