{% extends 'default.html' %}

{% block content %}
    <div class="content-box">
        <h1 class="title">Search</h1>
        <form action="{{ url_for('search') }}" method="GET">
            <label for="specialization" class="design-font">Choose Specialization:</label>
            <select name="specialization" id="specialization" class="design-field">
                <option value="counselling">Counselling</option>
                <option value="general-medicine">General Medicine</option>
                <option value="endocrinology">Endocrinology</option>
                <option value="physiotherapy">Physiotherapy</option>
                <option value="dermatology">Dermatology</option>
                <option value="dentistry">Dentistry</option>
            </select>
            <input type="submit" value="Search" class="submit-design">
        </form>

        {% if specialization %}
            {% if specialization == 'counselling' %}
                <div class="specialization-info">
                    <h2>Counselling</h2>
                    <p class="large-font">Our Counsellors work with people experiencing a wide range of emotional and psychological problems to hlep them bring about effective change and/or enhance their wellbeing</p>
                    <p class="small-font">We help people with issues such a depressionm, anxiety, stress, loss and relationship difficulties that are affecting your lives.</p>
                    <p class="small-font">Schedule you dermatology appointment today for a healthy and happy mind.</p>
                </div>
            {% elif specialization == 'general-medicine' %}
                <p class="large-font">Our Doctors in the general medicine department will be there to attend to your needs. These doctors are there to listen to every ailment you may have in your body. Be it a small headache to chrinoc illnesses.</p>
                <p class="small-font">Schedule you dermatology appointment today for a healthy and strong body.</p>
            {% elif specialization == 'endocrinology' %}
                <p class="large-font">An endocrinologist is responsible for evaluating diabetes, bone loss, and a range of hormonal issues, including hormones from pituitary adrenal, and throid glands as well as reporductive organs.</p>
                <p class="small-font">Schedule you dermatology appointment today to know why your body is the way it is and find an answer with us.</p>
            {% elif specialization == 'physiotherapy' %}
                <p class="large-font">Our Physiotherapists are one of the best in the country, who have the experience and skills to bring you back to full health.</p>
                <p class="small-font">Schedule you dermatology appointment today for a restored and healthy body.</p>
            {% elif specialization == 'dermatology' %}
                <p class="large-font">We have dermatology department have the most experienced doctors that will help you with any sort of skin dieases. We provide routine check-ups to advance dermatology procedures.</p>
                <p class="small-font">Schedule you dermatology appointment today for a healthy and shining skin.</p>
            {% elif specialization == 'dentistry' %}
                <div class="specialization-info">
                    <h2>Dentistry</h2>
                    <p class="large-font">Our experienced dentists offer a wide range of dental services, from routine check-ups to advanced dental procedures. Your oral health is our priority, and we are dedicated to providing personalized and effective dental care.</p>
                    <p class="small-font">Schedule your dental appointment today for a healthy and confident smile.</p>
                </div>
            {% else %}
                <p>No information available for the selected specialization.</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
