{% extends 'default.html' %}
{% block content %}
    <div class="appointment-cards">
        {% for appointment in appointments %}
            <div class="appointment-card">
                <h3>Appointment with Dr. {{ appointment.doctor.name }}</h2>
                <h4>Specialty in {{ appointment.doctor.specialty }}</h2>
                <p>Date: {{ appointment.date.strftime('%d-%m-%Y') }}</p>
                <p>Time: {{ appointment.date.strftime('%H:%M') }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
