.content-box {
    background-color: #7070701a;
    padding: 20px;
    width: 600px;
    height: auto; /* Adjusted height to accommodate content */
    margin: 0 auto; /* Center the content box */
    border-radius: 20px;
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    align-items: center;

}
.design-font {
    font-size: 25px;
    color: black;
    padding-bottom: 10px;
}
.design-field {
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.submit-design {
    margin-top: 10px;
    width: 250px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    background-color: black;
    color: white;
}
.title {
    font-size: 30px;
    color: black; 
    justify-content: baseline;
    text-align: center;
    margin-bottom: 20px; 
}

.design-field {
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error-message {
    font-size: 20px;
    color: red;
    margin-top: 5px;
}
.invalid {
    border-color: red;
}