.content-box {
        background-color: #70707048;
        padding: 10px;
        width: 300px;
        min-height: 40px;
        margin: 20px 0 0 auto;
        border-radius: 20px;
        backdrop-filter: blur(20px);
        display: flex;
        flex-direction: column;
        align-items: left;
        position: relative;
}
.design-font {
    font-size: 14px;
    color: blue;
    padding-bottom: 10px;
}
.design-field {
    color: crimson;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.submit-design {
    margin-top: 10px;
    width: 250px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    background-color: blueviolet;
    color: white;
}
.title {
    font-size: 30px;
    color: rgb(23, 23, 119) (0, 0, 0); 
    justify-content: baseline;
    text-align: center;
    margin-bottom: 20px; 
}

.design-field {
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error-message {
    color: red;
    font-size: 0.8em;
    display: block;
    margin-top: 5px;
}
.invalid {
    background-color: #ffdddd;
    border-color: #ff0000;
}
/* #design-flash {
    background-color: rgb(14, 179, 14);
    color: rgb(4, 36, 4);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 15px;
    width: 350px;
    border: 1px solid #f5c6cb;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 600px;
    margin: 0 auto;
} */
.large-font {
    font-size: 14px;
    color: blue;
}
.small-font {
    font-size: 12px;
    color: #ff0000;
}
.small-font:hover{
    color: rgb(129, 105, 75);;
}
.content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.specialization-container {
    display: flex;
    max-width: 800px;
}

.info-container {
    flex: 1;
    padding: 20px;
}

.image-container {
    flex: 1;
    padding: 20px;
}

.image-container img {
    width: 100%; 
    border-radius: 10px; 
}

.alert.alert-danger {
    color: red;
    background-color: #f8d7da; /* Adjust the background color as needed */
    border-color: #f5c6cb;
    color: rgb(4, 36, 4);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 15px;
    width: 350px;
    border: 1px solid #f5c6cb;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 600px;
    margin: 0 auto;
}
.alert.alert-success {
    color: black;
    background-color: green; /* Adjust the background color as needed */
    border-color: #f5c6cb;
    color: rgb(4, 36, 4);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 15px;
    width: 350px;
    border: 1px solid #f5c6cb;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 600px;
    margin: 0 auto;
}
.container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.slides {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: black;
    scroll-snap-align: start;
}
.slides img {
    width: 350px;
}
.slides h2 {
    font-size: 70px;
    font-weight: 600;
    max-width: 650px;
}
.slide1 {

    background-image: url(../styles/images/bg2.jpeg);
}
.slide2 {
    background-image: url(../styles/images/bg3.jpeg);
}
.slide3 {
    background-image: url(../styles/images/dermatologist.png);
    display: flex;
    align-items: end;
    color: black;
}

/* Style for department icons */
.department-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.department-icon {
    text-align: center;
    margin: 0 10px;
    width: 150px; /* Adjust the width as needed */
}

.department-icon img {
    width: 190px;
    height: 190px;
}

/* Style for text in slide 1 */
.text-container {
    text-align: left;
    max-width: 50%; /* Adjust the width as needed */
    margin-right: auto;
    padding-right: 0 auto 20px; /* Adjust the padding as needed */
}

.know-more {
    text-align: left; /* Align text to the right */
    max-width: 50%;
    margin-right: 20px; /* Adjust the margin as needed */
    padding-right: 0 auto 20px;
    justify-content: bottom;
}

.know-more-link {
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block; /* Make the link a block element */
    margin-bottom: 20px; /* Add some top margin for separation */
}

.about-content {
    font-size: 25px;
    margin: 20px;
    background-image: url(../styles/images/bg1.jpeg);
    padding-inline-end: 50%;
    text-align: justify;
}
