.content-box {
        background-color: #70707048;
        padding: 10px;
        width: 300px;
        min-height: 40px;
        margin: 20px 0 0 auto;
        border-radius: 20px;
        backdrop-filter: blur(20px);
        display: flex;
        flex-direction: column;
        align-items: left;
        position: relative;
}
.design-font {
    font-size: 14px;
    color: blue;
    padding-bottom: 10px;
}
.design-field {
    color: crimson;
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
}
.submit-design {
    margin-top: 10px;
    width: 250px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    background-color: blueviolet;
    color: white;
}
.title {
    font-size: 30px;
    color: rgb(23, 23, 119) (0, 0, 0); 
    justify-content: baseline;
    text-align: center;
    margin-bottom: 20px; 
}

.design-field {
    font-size: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error-message {
    color: red;
    font-size: 0.8em;
    display: block;
    margin-top: 5px;
}
.invalid {
    background-color: #ffdddd;
    border-color: #ff0000;
}
#design-flash {
    background-color: rgb(14, 179, 14);
    color: rgb(4, 36, 4);
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 15px;
    width: 350px;
    border: 1px solid #f5c6cb;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 600px;
    margin: 0 auto;
}
.large-font {
    font-size: 18px;
    color: blue;
}
.small-font {
    font-size: 14px;
    color: #ff0000;
}
.content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.specialization-container {
    display: flex;
    max-width: 800px;
}

.info-container {
    flex: 1;
    padding: 20px;
}

.image-container {
    flex: 1;
    padding: 20px;
}

.image-container img {
    width: 100%; 
    border-radius: 10px; 
}
